<form method="post" action="{{ path('app_dbaralive_delete', {'id': dbara_live.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dbara_live.id) }}">
	<button class="btn btn-danger">
		Supprimer</button>
</form>
